/client/res/dataset
/client/build
/client/.gradle
/client/.idea
/client/res/serverModel
/client/res/clientModel
/client/res/UCI-HAR


/server/res
/server/res/dataset
/server/build
/server/.gradle
/server/.idea
/server/res/onDeviceModel
/server/res/clientModel
/server/res/serverModel
